[submodule "vendor/tiny-json"]
	path = vendor/tiny-json
	url = https://github.com/rafagafe/tiny-json
[submodule "test/unity"]
	path = test/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "vendor/cwalk"]
	path = vendor/cwalk
	url = https://github.com/likle/cwalk
[submodule "vendor/c9"]
	path = vendor/c9
	url = https://github.com/mek-x/c9.git
[submodule "vendor/wamr"]
	path = vendor/wamr
	url = https://github.com/mekops-labs/wasm-micro-runtime
	branch = esp32_port
[submodule "third_party/nuttx-apps"]
	path = third_party/nuttx-apps
	url = https://github.com/mekops-labs/nuttx-apps.git
	branch = wanted
	shallow = true
[submodule "third_party/nuttx"]
	path = third_party/nuttx
	url = https://github.com/mekops-labs/nuttx.git
	branch = wanted
	shallow = true
[submodule "wapps/sheriff"]
	path = wapps/sheriff
	url = ../wapps/sheriff.git
