[submodule "vendor/wasm3"]
	path = vendor/wasm3
	url = https://github.com/wasm3/wasm3.git
[submodule "vendor/tiny-json"]
	path = vendor/tiny-json
	url = https://github.com/rafagafe/tiny-json
[submodule "vendor/romfs-lib"]
	path = vendor/romfs-lib
	url = git@github.com:mek-x/romfs-lib
[submodule "test/unity"]
	path = test/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
