[submodule "vendor/tiny-json"]
	path = vendor/tiny-json
	url = https://github.com/rafagafe/tiny-json
[submodule "vendor/romfs-lib"]
	path = vendor/romfs-lib
	url =  https://github.com/mek-x/romfs-lib
[submodule "test/unity"]
	path = test/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "vendor/cwalk"]
	path = vendor/cwalk
	url = https://github.com/likle/cwalk
[submodule "vendor/json-maker"]
	path = vendor/json-maker
	url = https://github.com/rafagafe/json-maker.git
[submodule "vendor/c9"]
	path = vendor/c9
	url = https://github.com/mek-x/c9.git
[submodule "vendor/wamr"]
	path = vendor/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime
