# Increased stack size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=65536

# Disable task watchdog
CONFIG_ESP_TASK_WDT_INIT=n

# Increase CPU frequency
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

# Set flash size
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"

# PSRAM support
CONFIG_SPIRAM=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_USE_MALLOC=y

# Set custom partition table file
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partition_table.csv"
CONFIG_PARTITION_TABLE_FILENAME="partition_table.csv"

